*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  font-size: 1rem;
}

h1 {
  text-align: center;
}

div.tab {
  display: none;
  flex-direction: column;
}

#register-form {
  width: 50em;
  color: #eee;
  background-color: #333;

  margin: 3em auto;
  border: solid 1em #faf;
  border-radius: 10px;
  padding: 1em 3em;
}

label {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  font-size: 1.15rem;

  margin: 3px 0 3px 0;
  margin-top: 0.5em;
  border: 1px solid #fff;
  padding: 1em;
}

input.invalid {
  background-color: crimson;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: fit-content;
  margin-top: 0.65em;
}

button {
  border: none;
  padding: 1em 2em;
  margin-left: 0.5em;

  color: #333;
  font-size: 1.15rem;
  font-weight: bold;

  cursor: pointer;
  background-color: lightpink;
}

button:hover {
  opacity: 0.75;
}

#step-container {
  display: flex;
  padding: 0.25em 0;
}

span.step {
  width: 2em;
  height: 2em;
  display: inline-block;

  border: none;
  border-radius: 50%;
  margin-left: 0.5em;

  background-color: lightskyblue;
  opacity: 50%;
}

span.step.active {
  opacity: 1;
}

span.step.complete {
  background-color: lightgreen;
}
