/*
front-size = rem
padding/margin = em
widths = em or %
*/

header, footer {
  color: cornsilk;
  background-color: black;
  font-family: monospace;
}

h1, h2, h3, h4 {
  color: cornsilk;
  background-color: black;
  font-family: monospace;
}

body {
  color: aliceblue;
  background-color: rgb(50, 50, 50);
  font-family: monospace;
}

button {
  color: lightslategray
}

button:hover {
  color: darkslategrey;
}