* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-field {
  width: 80%;
  height: 100px;
  background-color: aquamarine;
  margin: 1em;
}

.border {
  border: 2px solid lightseagreen;
  padding: 10px 5px;
}
