html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: red;
}

.row-item {
  width: 5em;
  height: 5em;
  border: 0.75em solid pink;
  background: aliceblue;
}

.col {
  display: flex;
  flex-direction: column;
  background: blue;
}

.col-item {
  min-height: 100px;
  max-height: 300px;
  border: 0.75em solid skyblue;
  background: aliceblue;
}
