.container {
  color: blue;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.box {
  color: yellow;
  background-color: green;
  font-size: 150%;
  border-radius: 5px;
  padding: 10px;
}
