/*
front-size = rem
padding/margin = em
widths = em or %
*/

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 550px) {
  * {
    font-size: 0.85rem;
  }
}

body {
  margin: auto;
  min-width: 320px;
  max-width: 100%;
  padding-bottom: 1.5em;
}

#title,
#description {
  text-align: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0.2em solid #20b2aa;
  border-radius: 0.5em;
  padding: 0em 1em 0em 1em;
  width: 80%;
}

label {
  padding: 1em 0 0.5em 0;
}

input:valid {
  padding: 1em;
  border: 0.2em solid #20b2aa;
  border-radius: 0.5em;
}

input:invalid {
  padding: 1em;
  border: 0.2em dotted #f08080;
  border-radius: 0.5em;
}

input:invalid:required {
  background-image: linear-gradient(-90deg, white, rgb(255, 235, 235));
}

select:valid {
  padding: 1em;
  border: 0.2em solid #20b2aa;
  border-radius: 0.5em;
}

select:invalid {
  padding: 1em;
  border: 0.2em dotted #f08080;
  border-radius: 0.5em;
}

select:invalid:required {
  background-image: linear-gradient(-90deg, white, rgb(255, 235, 235));
}

textarea {
  resize: none;
}

#contact {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.contact-button {
  display: flex;
  flex-direction: row;
}

#contact label {
  padding-top: 0;
}

#submit {
  width: 10em;
  margin: 1em auto;
  padding: 1em;
}
