html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1200px;
}

.spacer {
  margin: 5px;
  height: 50px;
}

.blue {
  background-color: #9999ff;
}

.coral {
  background-color: #ffa585;
}

.green {
  background-color: #b5ffb5;
}

.ex1-parent {
  display: grid;
  place-items: center;
}

.ex1-box {
  width: 80%;
}

.ex2-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ex2-box {
  flex: 1 1 150px; /* stretch */
  flex: 0 1 150px; /* no stretch */
}

.ex3-parent {
  display: grid;
  grid-template-columns: minmax(5em, 20%) auto;
}

.ex4-parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.ex5-parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.ex5-header {
  grid-column: 1 / 4;
}

.ex5-left-side {
  grid-column: 1 / 2;
}

.ex5-main-content {
  grid-column: 2 / 3;
}

.ex5-right-side {
  grid-column: 3 / 4;
}

.ex5-footer {
  grid-column: 1 / 4;
}
