<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Laylaylay</title>
  <link rel='stylesheet' href='layouts.css' />
</head>
<body class='green'>
<div class='container'>
  <p>place-items: center;</p>
  <div class='ex1-parent blue'>
    <div class='spacer ex1-box coral' contenteditable>c:</div>
  </div>

  <p>flex: 1 1 150px;</p>
  <div class='ex2-parent blue'>
    <div class='spacer ex2-box coral'>1</div>
    <div class='spacer ex2-box coral'>2</div>
    <div class='spacer ex2-box coral'>3</div>
    <div class='spacer ex2-box coral'>4</div>
    <div class='spacer ex2-box coral'>5</div>
    <div class='spacer ex2-box coral'>6</div>
  </div>

  <p>grid-template-columns: minmax(5em, 20%) auto;</p>
  <div class='ex3-parent blue'>
    <div class='spacer ex3-box coral'>a</div>
    <div class='spacer ex3-box coral'>b</div>
    <div class='spacer ex3-box coral'>c</div>
    <div class='spacer ex3-box coral'>e</div>
  </div>

  <p>grid-template-rows: auto 1fr auto;</p>
  <div class='ex4-parent blue'>
    <div class='spacer ex4-box coral'>header</div>
    <div class='spacer ex4-box coral'>main</div>
    <div class='spacer ex4-box coral'>footer</div>
  </div>

  <p>grid-template: auto 1fr auto / auto 1fr auto;</p>
  <div class='ex5-parent blue'>
    <div class='spacer ex5-header coral'>header</div>
    <div class='spacer ex5-left-side coral'>left side</div>
    <div class='spacer ex5-main-content coral'>main content</div>
    <div class='spacer ex5-right-side coral'>right side</div>
    <div class='spacer ex5-footer coral'>footer</div>
  </div>
</div>
</body>
</html>
