form {
  width: 50%;
}

.form-div {
  display: grid;
  background: #333;
  color: #eee;

  margin: 0.5em 0;
  padding: 0.5em;
}

.form-div > input {
  margin: 0.5em 0;
  padding: 0.5em;
}

form > button {
  padding: 0.5em;
}
